# Dependências (sempre ignore estas pastas)
node_modules/
dist/
build/

# Ficheiros de sistema
.DS_Store
Thumbs.db

# Segurança (NUNCA envie as suas chaves secretas)
.env
*.pem
*.key

# Logs e Cache
npm-debug.log*
.cache/